body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f5f5f5;
}

section {
  padding: 40px;
  background: white;
  margin: 20px;
  border-radius: 10px;
}

.hero {
  background: #0d6efd;
  color: white;
  text-align: center;
}

h1,
h2 {
  margin-bottom: 10px;
}

.resume {
  text-align: center;
}

.resume-btn {
  display: inline-block;
  margin-top: 10px;
  padding: 12px 25px;
  background-color: #0d6efd;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
}

.resume-btn:hover {
  background-color: #084298;
}
